pkgbase = tctl
	pkgdesc = Terra DE CLI - multi-purpose command-line tool
	pkgver = 0.1.1
	pkgrel = 1
	url = https://github.com/terra-de/tctl
	arch = any
	license = MIT
	depends = bash
	depends = brightnessctl
	conflicts = tctl-git
	source = https://github.com/terra-de/tctl/archive/refs/tags/v0.1.1.tar.gz
	sha256sums = b10ccc8396f576bef4ac016cc11b3e9758f10eec4dbd001143ecf4f61dcd3f08

pkgname = tctl
