pkgbase = tctl
	pkgdesc = Terra DE CLI - multi-purpose command-line tool
	pkgver = 0.3.0
	pkgrel = 1
	url = https://github.com/terra-de/tctl
	arch = any
	license = MIT
	depends = bash
	depends = brightnessctl
	conflicts = tctl-git
	source = https://github.com/terra-de/tctl/archive/refs/tags/v0.3.0.tar.gz
	sha256sums = 83c1c4ef60c81898dbfa2da6044a5047a6e199bd4445550bebecc086eae7a18e

pkgname = tctl
