pkgbase = terratheme
	pkgdesc = Multi-source-color theme generator for Terra DE
	pkgver = 0.5.0
	pkgrel = 1
	url = https://github.com/terra-de/terratheme
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python
	depends = python-numpy
	depends = python-pillow
	depends = python-scikit-learn
	source = https://github.com/terra-de/terratheme/archive/refs/tags/v0.5.0.tar.gz
	sha256sums = 43bdd2852f1f4deaddaf6d8eb5f1847937c8eef11479eb8442a740920a75b2f0

pkgname = terratheme
