pkgbase = terratheme
	pkgdesc = Multi-source-color theme generator for Terra DE
	pkgver = 0.1.0
	pkgrel = 1
	url = https://github.com/terra-de/terratheme
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python
	depends = python-numpy
	depends = python-pillow
	depends = python-scikit-learn
	source = https://github.com/terra-de/terratheme/archive/refs/tags/v0.1.0.tar.gz
	sha256sums = 56218b08e9d7c0d74ecfa68867c3b784e2d3acf7eb76fca083a1370aee9135e0

pkgname = terratheme
