pkgbase = terrashell
	pkgdesc = Terra DE Quickshell configuration
	pkgver = 0.2.1
	pkgrel = 1
	url = https://github.com/terra-de/terrashell
	arch = any
	license = MIT
	depends = quickshell
	depends = ttheme
	depends = tctl
	optdepends = terratheme: wallpaper-to-palette integration
	conflicts = terrashell-git
	source = https://github.com/terra-de/terrashell/archive/refs/tags/v0.2.1.tar.gz
	sha256sums = 3cc02a2a46b99e1c53ac4b24354983827d4dee1985cbb3c1dcb578dcb5ed0132

pkgname = terrashell
