pkgbase = terrashell
	pkgdesc = Terra DE Quickshell configuration
	pkgver = 0.3.1
	pkgrel = 1
	url = https://github.com/terra-de/terrashell
	arch = any
	license = MIT
	depends = quickshell
	depends = ttheme
	depends = tctl
	optdepends = terratheme: wallpaper-to-palette integration
	conflicts = terrashell-git
	source = https://github.com/terra-de/terrashell/archive/refs/tags/v0.3.1.tar.gz
	sha256sums = 466bf06a60e9285104bed3d011712d42bee1c73d96d2880e25ae312087bc0722

pkgname = terrashell
