pkgbase = terratheme-git
	pkgdesc = Multi-source-color theme generator for Terra DE (git)
	pkgver = 0.4.0.r29.g8034ab1
	pkgrel = 1
	url = https://github.com/terra-de/terratheme
	arch = any
	license = MIT
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python
	depends = python-numpy
	depends = python-pillow
	depends = python-scikit-learn
	provides = terratheme
	conflicts = terratheme
	source = git+https://github.com/terra-de/terratheme.git
	sha256sums = SKIP

pkgname = terratheme-git
